#page-wrapper {
    width: 100%;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}
.new-app {
    margin: 0 10px;
}
.sidebar.navbar-nav.toggled .new-app {
    display: none;
}
.card {
    margin-bottom: 60px !important;
}
.biglist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
